{{>head}}

{{>navbar}}

<div class="row">
    <div class="col-8">
        <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorem natus distinctio libero sed doloremque nobis quod. Eum, beatae tenetur.</h5>
    </div>
    <div class="col-4">
        <img src="assets/img/naruto.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}